body {
  color: gold;
  background-color: steelblue;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.h1 {
	text-align: center;
}

p {
	background-color: rgba(255,255,255,.1);
	padding: 5%;
}

.img-wrapper{
	width: 60vw;
	margin: 0 auto;
}

img {
	width: 100%;
}

button {
	background-color: gold;
	color: steelblue;
	border-radius: 5px;
	border: 0 none;
	padding: 10px;
 	text-transform: none;
 	text-align: center
 	font-size: 20px;
}